﻿
@{
    ViewBag.Title = "Deleted";
}

<h2>Deleted</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Genre</th>
            <th></th>
        </tr>
    </thead>
    @foreach(var b in ViewBag.deletedBooks)
    {
        <tr>
            <td>@b.Id</td>
            <td>@b.Name</td>
            <td>@b.Price</td>
            <td>@b.genre</td>
            <td><a href="#">Details</a></td>
        </tr>
    }
</table>
<a href="/Bookstores/Index/">Link for homepage</a>