﻿
@{
    ViewBag.Title = "Index";
}

<h2>Add new book</h2>

<form action="/Bookstores/AddNew" method="post">
    <div class="form-group">
        <label for="Name">Name of book</label>
        <input type="text" name="Name" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="Price">Price of book</label>
        <input type="number" name="Price" class="form-control"/>
    </div>
    <label for="genre">Genre of book</label>
        <select name="genre">
            <option value="1">Science</option>
            <option value="2">Comedy</option>
            <option value="3">Horror</option>
        </select>
    <br />
    <input type="submit" value="Add new" class="btn btn-sm btn-success"/>
</form>
<a href="/Bookstores/List">Show all books</a> | <a href="/Bookstores/Deleted">Show deleted books</a>