﻿
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Genre</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    @foreach (var b in ViewBag.books)
    {
        <tr>
            <td>@b.Id</td>
            <td>@b.Name</td>
            <td>@b.Price</td>
            <td>@b.genre</td>
            <td><a href="/Bookstores/Delete?id=@b.Id">Delete</a></td>
            <td><a href="#">Details</a></td>
        </tr>
    }

</table>
<a href="/Bookstores/Index/">Link for homepage</a>

