﻿
@{
    ViewBag.Title = "Sort";
}

<h2>Sort</h2>

<form action="/Bookstores/SortResult" method="get">
    <label for="sortBy">Sort by</label>
    <select name="sortBy">
        <option value="1">Price</option>
        <option value="2">Name</option>
    </select>
    <label for="order">Order</label>
    <select name="order">
        <option value="1">Ascending</option>
        <option value="2">Descending</option>
    </select>
    <button type="submit" class="btn btn-sm btn-warning">Sort</button>
</form>