﻿
@{
    ViewBag.Title = "SortResult";
}

<h2>Sort Result</h2>

<table class="table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Genre</th>
        </tr>
    </thead>

    @foreach(var b in ViewBag.books)
    {
        <tr>
            <td>@b.Id</td>
            <td>@b.Name</td>
            <td>@b.Price</td>
            <td>@b.genre</td>
        </tr>
    }
</table>